*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -user-select: none;
}

#yfn{
    padding: 11px;
    outline: none;
    border: solid black 1px;
    border-radius: 3px;
}

#mail{
    padding: 11px;
    outline: none;
    border: solid black 1px;
    border-radius: 3px;
}