*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -user-select: none;
}

footer{
    background-color: black;
    border-radius: 3px;
    outline: none;
}

p{
    height: 9vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}