* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.card-item {
    display: inline-block;
    margin: 30px;
}

.card-item img {
    width: 200px;
}